#article {
  * {
    width: 100%;
  }
  p {
    margin: 1.25rem 0;
    line-height: 1.875;
    font-size: 1.1rem;
    min-height: 2rem;
    white-space: pre-wrap;
    color: #3c3c3c;
    letter-spacing: 0.1px;
  }

  pre {
    margin: 1.25rem 0;
    border-radius: 4px;
  }
}

#article h1 {
  font-size: 1.8rem;
  margin: 1.25rem 0;
}

#article h2 {
  font-size: 1.5rem;
  margin: 1.25rem 0;
}

#article h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

#article ul {
  margin: 1.5rem 0 1.5rem 2rem;
}

#article ul li {
  list-style: disc;
}

#article hr {
  overflow: hidden;
  margin: 3rem 0;
  border-color: #000;
}

#article .hljs {
  padding: 1em;
  border-radius: .3em;
  margin: 1.5em 0;
}

